[submodule "eurorack-4ms-STS"]
	path = eurorack-4ms-STS
	url = git@git-rhino:rhinocerose/eurorack-4ms-STS
	branch = main
[submodule "eurorack-4ms-SWN"]
	path = eurorack-4ms-SWN
	url = git@git-rhino:rhinocerose/eurorack-4ms-SWN
	branch = main
[submodule "eurorack-4ms-dld"]
	path = eurorack-4ms-dld
	url = git@git-rhino:rhinocerose/eurorack-4ms-dld
	branch = main
[submodule "eurorack-4ms-pcb-scmv3"]
	path = eurorack-4ms-pcb-scmv3
	url = git@git-rhino:rhinocerose/eurorack-4ms-pcb-scmv3
	branch = main
[submodule "eurorack-4ms-peg-v2"]
	path = eurorack-4ms-peg-v2
	url = git@git-rhino:rhinocerose/eurorack-4ms-peg-v2
	branch = main
[submodule "eurorack-4ms-qcdv2"]
	path = eurorack-4ms-qcdv2
	url = git@git-rhino:rhinocerose/eurorack-4ms-qcdv2
	branch = main
[submodule "eurorack-4ms-qplfo-v22"]
	path = eurorack-4ms-qplfo-v22
	url = git@git-rhino:rhinocerose/eurorack-4ms-qplfo-v22
	branch = main
[submodule "eurorack-4ms-SCM"]
	path = eurorack-4ms-SCM
	url = git@git-rhino:rhinocerose/eurorack-4ms-SCM
	branch = main
[submodule "eurorack-4ms-Smr"]
	path = eurorack-4ms-Smr
	url = git@git-rhino:rhinocerose/eurorack-4ms-Smr
	branch = main
[submodule "eurorack-4ms-DLD"]
	path = eurorack-4ms-DLD
	url = git@git-rhino:rhinocerose/eurorack-4ms-DLD
	branch = main
[submodule "eurorack-4ms-pcb-SCMv3"]
	path = eurorack-4ms-pcb-SCMv3
	url = git@git-rhino:rhinocerose/eurorack-4ms-pcb-SCMv3
	branch = main
[submodule "eurorack-4ms-pcb-RCD-SCM-clocker"]
	path = eurorack-4ms-pcb-RCD-SCM-clocker
	url = git@git-rhino:rhinocerose/eurorack-4ms-pcb-RCD-SCM-clocker
	branch = main
[submodule "eurorack-4ms-SMR"]
	path = eurorack-4ms-SMR
	url = git@git-rhino:rhinocerose/eurorack-4ms-SMR
	branch = main
[submodule "eurorack-4ms-QCDv2"]
	path = eurorack-4ms-QCDv2
	url = git@git-rhino:rhinocerose/eurorack-4ms-QCDv2
	branch = main
[submodule "eurorack-4ms-QPLFO-v22"]
	path = eurorack-4ms-QPLFO-v22
	url = git@git-rhino:rhinocerose/eurorack-4ms-QPLFO-v22
	branch = main
[submodule "eurorack-4ms-PEG-v1"]
	path = eurorack-4ms-PEG-v1
	url = git@git-rhino:rhinocerose/eurorack-4ms-PEG-v1
	branch = main
[submodule "eurorack-4ms-dev-env"]
	path = eurorack-4ms-dev-env
	url = git@git-rhino:rhinocerose/eurorack-4ms-dev-env
	branch = main
[submodule "eurorack-4ms-pcb-rules"]
	path = eurorack-4ms-pcb-rules
	url = git@git-rhino:rhinocerose/eurorack-4ms-pcb-rules
	branch = main

